*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html,body{
    background-color:  #ffffff !important;
}
.container-principal{
    padding: 20px;
}
.row-padding{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px;
}
.column-left{
  background-color: white;
  border-radius: 3px;
  padding: 24px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);

}
.column-section-1{
    display: grid;
}
.container-imagen-display{
    position: relative;
}
.container-imagen-display img{
    width: 100%;
    vertical-align: middle;
}
.text-imagen{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 40px;
    padding-left: 15px;
}
.column-section-2{
    display: grid;
}
.container-datospersonales-display{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 10px solid silver;
    
}
.container-datospersonales-display p{
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;

}
.i-margin-dp{
margin-right: 16px !important;
font-size: 18px;
}
.i-margin-title-hb{
margin-right: 16px !important;
font-size: 12px;
padding-top: 10px;
padding-left: 15px;
padding-bottom: 10px;
}
.separador{
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
.container-hb{
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
}
.hb{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.html{
    width: 90%;
    background-color: cadetblue;
}
.column-right{
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
.row-right-1{
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    padding: 24px;
}
.title-principal-fa{
    font-size:x-large;
}
.container-fa{
    padding: 9px;
}
.title-fa{
    opacity: 0.5;
    font-size: medium;
}
.text-icon-evento{
    padding: 1rem 0px;
}
.text-icon-evento b i{
    margin-right: 7px;
}
.row-right-2{
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    padding: 24px;
}

.corrector{
    border: solid black 1px;
}

/*aqui modificaremos las clases necesarias para adaptar a cada pantalla
  mas conocido como responsive o media query*/

@media only screen and (max-width: 600px)
  {
    .row-padding
    {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
  } 
